<h1 style="text-align: center; border-bottom: 1px black solid; padding-bottom: 5px;">Your Booking Report</h1>

<h1 style="color: green; padding-top: 10px;">Thank you for your booking Dear, {{first_name}} {{last_name}}</h1>

<h1 style="background-color: #D9E0E5;">Booking Details:</h1>

<table style="width:100%; background-color: #ECEDEE;">
  <tr style="padding: 5px 5px; font-size: 15px;">
    <td>Hotel Name
    <br>Hotel Location
    <br>Room No:
    <br>Number of Person
    <br>Total Price
    <br>Bookinh-status</td>

    <td>{{hotel_name}}
    <br>{{location}}
    <br>{{room}}
    <br>{{person}} 
    <br>{{price}} BDT
    <br>{{status}}</td>
  </tr>
</table>

<h1 style="background-color: #D9E0E5;">Check-In and Check-Out time:</h1>
<table style="width:100%; text-align: center; border= 1px black solid;">
  <tr style="padding: 2px 0px; background-color: black; color: white; font-size: 15px; font-weight: bold;">
    <th>Check-In</th>
    <th>Check-Out</th>
  </tr>
  <tr style="padding: 5px 0px 2px 0px; font-size: 15px;">
    <td>{{check_in}}</td>
    <td>{{check_out}}</td>
  </tr>
</table>
